<p>Cart </p>

<p>
    <a routerLink="/shipping">Shipping Prices</a>
</p>

<div *ngFor="let item of items" class="cart">
    <span>{{item.name}}</span>
    <span>{{item.price | currency}}</span>
</div>

<!-- Use a formGroup property binding to bind checkoutForm to the HTML <form>. -->
<!-- On the form tag, use an ngSubmit event binding to listen for the form submission and call the onSubmit() method with the checkoutForm value. -->
<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">

    <!-- Add <input> fields for name and address, 
        each with a formControlName attribute that binds to the checkoutForm form controls for name and address to their <input> fields. -->
    <div>
        <label for="name">Name: </label>
        <input id="name" type="text" formControlName="name">
    </div>

    <div>
        <label for="address">Address: </label>
        <input id="address" type="text" formControlName="address">

    </div>

    <button class="button" type="submit">Purchase</button>
</form>
