<h2>Products</h2>

<!-- Structural directive  *ngFor -->
<!-- Structural directives shape or reshape the DOM's structure, by adding, removing, and manipulating elements. -->
<div *ngFor="let product of products">

  <!-- interpolation syntax {{}}-->
  <!-- Interpolation {{ }} lets you render the property value as text. -->
  <h3>{{ product.name }}</h3>

  <!-- property binding syntax []-->
  <a [title]="product.name + ' details'">
    {{ product.name }}
  </a>

  <!-- directive  *ngIf -->
  <p *ngIf="product.description">Description: {{ product.description }}</p>

  <!-- Event binding uses a set of parentheses, ( ), around the event. -->
  <button type="button" (click)="share()">share</button>

  <!-- to display ProductAlertsComponent as a child of ProductListComponent -->
  <!-- see  @Output() notify = new EventEmitter(); in app-product-alerts -->
  <app-product-alerts 
      [product]="product"
      (notify)="onNotify()"> </app-product-alerts>
</div>

